{extend name="common/layout"}

{block name="main"}
<div class="layui-card" style="display: none;">
	<div class="layui-card-body">
		<form id="userForm" class="layui-form" action="">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">文件名</label>
					<div class="layui-input-inline">
						<input type="text" name="name" placeholder="" class="layui-input">
					</div>
				</div>

				<div class="layui-inline" style="margin-left: 50px;">
					<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="user-query">
						<i class="layui-icon layui-icon-search"></i>
						查询
					</button>
					<button type="reset" class="pear-btn pear-btn-md" lay-submit lay-filter="user-refresh" >
						<i class="layui-icon layui-icon-refresh"></i>
						重置
					</button>
					<button type="button" class="pear-btn pear-btn-md expand">
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="layui-card">
	<div class="layui-card-body">
		<table id="user-table" lay-filter="user-table"></table>
	</div>
</div>
{/block}

{block name="footer_script"}
<script>
	layui.use(['table', 'form', 'jquery', 'drawer', 'dropdown'], function() {
		let table = layui.table;
		let form = layui.form;
		let $ = layui.jquery;
		let drawer = layui.drawer;
		let dropdown = layui.dropdown;

		let cols = [
			[   {
				title: 'ID',
				field: 'id',
				align: 'center',
				width: 50
			},
				{
					title: 'IP',
					field: 'ip',
					align: 'center',
				},
				{
					title: '请求方式',
					field: 'method',
					align: 'center',
				},
				{
					title: '路由',
					field: 'route',
					align: 'center',
				},
				{
					title: '耗时',
					field: 'times',
					align: 'center',
				},
				{
					title: '异常',
					field: 'exception',
					align: 'center',
				},
				{
					title: '请求时间',
					field: 'create_time',
					align: 'center',
				}
			]
		]

		table.render({
			elem: '#user-table',
			url: '/admin/index/getrequestlog',
			page: true,
			limits: [10,30,100,500,1000,2000],
			cols: cols,
			skin: 'line',
			toolbar: '#user-toolbar',
			response: {
				statusCode: 1
			},
			defaultToolbar: [{
				layEvent: 'refresh',
				icon: 'layui-icon-refresh',
			}, 'filter', 'print', 'exports'],
		});

		table.on('toolbar(user-table)', function(obj) {
			if (obj.event === 'refresh') {
				window.refresh();
			} else if(obj.event === 'clearall'){
				layer.confirm('确定要清空吗', {icon: 3, title:'提示'}, function(index){
					layer.close(index);
					let loading = layer.load();
					$.ajax({
						url: "/admin/index/requestlogdel?type=1",
						dataType:'json',
						type:'delete',
						success:function(res){
							layer.close(loading);
							if(res.code == 1){
								layer.msg(res.msg,{icon:1,time:1000},function(){
									window.refresh();
								});
							}else{
								layer.msg(res.msg,{icon:2,time:1000});
							}
						}
					})
				});
			} else if(obj.event === 'export'){
				layer.confirm('确定要导出吗', {icon: 3, title:'提示'}, function(index){
					layer.close(index);
					let loading = layer.load();
					$.ajax({
						url: "/admin/index/exportrequestlog",
						type:'post',
						success:function(res){

						}
					})
				});
			}
		});

		form.on('submit(user-query)', function(data) {
			table.reload('user-table', {
				where: data.field
			})
			return false;
		});

		form.on('submit(user-refresh)',function(data){
			parent.layui.admin.refreshThis()
			return false;
		});

		window.refresh = function(param) {
			table.reload('user-table');
		}
	})
</script>
{/block}
